*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
header {
    float: left;
    width: 70%;
    margin: 20px 300px;
    height: 80px;
    line-height: 80px;
    font-family: Muyao-Softbrush;
    background-color: #cda8b8;
    border: double burlywood;
}
nav {
    background-color: #3cb9b94e;
    text-align: center;
    font-family: Arial;
    float: right;
    width: 70%;
}
nav a {
    padding: 14px 16px;
    display: inline-block;
}
nav a:hover {
    background-color: #cda8b8;
    color: white;
}
footer {
    color: #444444;
    padding: 10px;
    text-align: center;
}

main{
    float: right;   
    width: 70%;
    padding: 40px;
    background-color: rgba(223, 231, 207, 0.669);
}
aside { 
    float: left;
    width: 30%;
    text-align: center;
    background-color: #F0F0F0;
}

#me:hover {
opacity: 50%;
}
.addr:hover {
    opacity: 50%;
    zoom: 120%;
    }
.club:hover {
    opacity: 50%;
    zoom: 120%;
    }
.pt:hover {
    opacity: 50%;
    zoom: 120%;
    }   
h1:hover{
    background-color:rgba(255, 0, 0, 0.473);
    font: #F0F0F0;
}
address:hover{
    background-color: rgba(169, 197, 48, 0.582);
}
p:hover{
    background-color: rgba(169, 197, 48, 0.582);
}
.life:hover {
    zoom: 160%;
    }
main{
    float: right;
}
main::after {
    content: "";
    clear: both;
    display:table;
}